{% extends 'casos_de_uso/base.html' %}
{% load staticfiles %}

{% block elements_navbar %}
    <a href="/procesos/{{ proceso.proyecto.slug }}/" class="btn btn-success btn-crear-proyecto">Regresar</a>
{% endblock elements_navbar %}

{% block page_wrapper %}

	<div id="page-inner">

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar Proyecto</h4>
		      </div>
		      <div class="modal-body">
		        <p>Desea eliminar todo el contenido de su proyecto <span id="js-spanNameProject"></span>?</p>
		      </div>
		      <div class="modal-footer">
		      	<form method="post" id="js-frmEliminar">
		      		{% csrf_token %}
		      		<input type="hidden" id="modal_id_proyecto" name="proyecto_id" />
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-danger">Eliminar</button>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ./Modal -->

		<div class="row">
	        <div class="col-md-12">
	            <div class="alert alert-success">Agregado</div>
	        </div>
	    </div> 
	    <!-- /. ROW  -->

		<div class="row">
		    <div class="col-md-12 col-sm-12">
		        <div class="well">
		        	<h1>Casos de uso <small>(Lista de tareas)</small></h1>
		        	<h4>
		        		Instrucciones: <br> 1. Identifique las acciones que realiza su actor dentro del sistema <br>
		        					   2. Registre las acciones.
		        	</h4>
		        	<h4>Preguntas clave para identificar los casos de uso: </h4>
		        	<ul>
		        		<li>¿Cuáles son las tareas del actor?</li>
		        		<li>¿Qué información crea, guarda, modifica, destruye o lee el actor?</li>
		        		<li>¿Debe el actor notificar al sistema los cambios externos?</li>
		        		<li>¿Debe el sistema informar al usuario de los cambios internos?</li>
		        	</ul>
		            <h5>
		            	Descripción de un caso de uso: Un caso de uso describe qué hace un sistema pero no especifica cómo lo hace
		            </h5>
		        </div>
		    </div>
		</div>
		<!-- /. ROW  -->

	    

		<div class="row" id="js-rowProject">

				<div class="col-md-4 col-sm-4" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                Agregar tarea
				            </div>
				            <div class="panel-body">
				            	<form method="post" id="id_form_tarea">
		            				{% csrf_token %}
		            				<input type="hidden" name="actor" id="id_actor" value="{{ actor.id }}">
		            				<div id="id_nombre_actividad_error" class="alert alert-danger"></div>
		            				<div class="form-group">
		            					<input type="text" id="id_descripcion" name="descripcion" placeholder="Ingrese una tarea o actividad">
		            				</div>
		            				
		            				<input type="button" id="agregarButton-js" class="btn btn-info" value="Agregar">
		            			</form>

				            	
				                <!-- <div><span id="id_orden-js">1</span> <span id="id_nombre_actividad-js">Registro del alumno</span></div>
				                <div><span id="id_orden-js">2</span> <span id="id_nombre_actividad-js">Autorización de SE</span></div> -->
				            </div>
			        
			    	</div>
			    </div>

			    <div class="col-md-8 col-sm-8" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                <h3>Actor: {{ actor.rol }}</h3>
				            </div>

				            <div class="panel-body">

				            	<div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Tarea</th>
                                            </tr>
                                        </thead>
                                        <tbody id="id_tbody_tareas" class="TableBody">

                                        	{% for tarea in tareas %}
                                            <tr id="id_row_{{ tarea.id }}" class="TableBody-row">
                                                <td class="TableBody-data TableBody--no"></td>
                                                <td class="TableBody-data TableBody--descripcion">{{ tarea.descripcion }}</td>    
                                            </tr>
                                            {% empty %}
											<tr id="id_row_0" class="TableBody-row fila-base">
											    <td class="TableBody-data TableBody--no"></td>
											    <td class="TableBody-data TableBody--descripcion">Descripción</td>    
											</tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
				                <!-- <div><span id="id_orden-js">1</span> <span id="id_nombre_actividad-js">Registro del alumno</span></div>
				                <div><span id="id_orden-js">2</span> <span id="id_nombre_actividad-js">Autorización de SE</span></div> -->
				            </div>
			    	</div>
			    </div>
		    
		</div>
		<!-- /. ROW  -->
	</div>
	<!-- /. PAGE INNER  -->

{% endblock page_wrapper %}

{% block js_scripts %}
	<script src="{% static "documentation_app/js/jquery.form.min.js" %}"></script>
{% endblock js_scripts %}

{% block custom_scripts %}
	<script src="{% static "proyectos/js/proyecto-list-scripts.js" %}"></script>
	<script src="{% static "documentation_app/js/utils.js" %}"></script>
	<script src="{% static "casos_de_uso/js/utils.js" %}"></script>
	<script>
	/*
	function ocultarAlert()
	{
		$('.alert').slideToggle();
	}

	$('.alert').hide();
	$.getJSON('/api/procesos/1', function (data) {
		console.log(data);
		$('#id_nombre_proceso-js').text(data.nombre_proceso);
		$('.alert').text('Actividad agregada').slideToggle();
		setTimeout(ocultarAlert, 3000);
	});
	*/
	var $fila = $('#id_tbody_tareas tr:first-child');

	enumerarTabla('id_tbody_tareas');

	function ocultarAlert()
	{
		$('.alert-success').slideToggle();
	}

	$('#id_nombre_actividad').focus();
	$('.alert-success').hide();
	$('.alert-danger').hide();

	$('#agregarButton-js').click(function () {
		ajaxCreateTarea($('#id_form_tarea').serialize(), function (error, data) {
			if (error)
			{
				console.log(error);
			}
			else
			{
				console.log(data);
				var $clone = $fila.clone(true);
				var id = data.id;
				var descripcion = data.descripcion;
				var no_filas = getNoFilasTabla('id_tbody_tareas');

				$clone.find('.TableBody--no').text(no_filas);
				$clone.find('.TableBody--descripcion').text(descripcion);
				$clone.attr('id', 'id_row_' + id);

				$clone.removeClass('fila-base');
				$clone.appendTo('#id_tbody_tareas');
				$clone.fadeIn();
				$('#id_descripcion').val('').focus();

			}
		});
	});
	
	</script>
{% endblock custom_scripts %}