{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insight Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="{% static "documentation_app/css/bootstrap.css" %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static "documentation_app/css/font-awesome.css" %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static "documentation_app/js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static "documentation_app/css/custom-styles.css" %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><b>In</b>sight</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'login' %}"><i class="fa fa-user fa-fw"></i> Inicia sesión</a>
                        </li>
                        <li><a href="{% url 'signup' %}"><i class="fa fa-gear fa-fw"></i> Regístrate</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header text-center">
                            Registro <small>Empieza a documentar tus proyectos</small>
                        </h1>
                    </div>
                </div>
				
				
                <!-- /. ROW  -->
				
				<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-primary btn-lg btn-block">
                            </form>
						</div>
					</div>  
					</div>		
				</div> 	
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static "documentation_app/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "documentation_app/js/bootstrap.min.js" %}"></script>
	 
    <!-- Metis Menu Js -->
    <script src="{% static "documentation_app/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "documentation_app/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "documentation_app/js/morris/morris.js" %}"></script>
	
	
	<script src="{% static "documentation_app/js/easypiechart.js" %}"></script>
	<script src="{% static "documentation_app/js/easypiechart-data.js" %}"></script>
	
	
    <!-- Custom Js -->
    <script src="{% static "documentation_app/js/custom-scripts.js" %}"></script>
    <script src="{% static "proyectos/js/proyecto-scripts.js" %}"></script>


</body>

</html>