{% extends 'procesos/base.html' %}
{% load staticfiles %}

{% block elements_navbar %}
    <a href="/procesos/{{ proceso.proyecto.slug }}/" class="btn btn-success btn-crear-proyecto">Regresar</a>
{% endblock elements_navbar %}

{% block page_wrapper %}

	<div id="page-inner">

		<!-- Modal Delete -->
		<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar Proyecto</h4>
		      </div>
		      <div class="modal-body">
		        <p>Desea eliminar todo el contenido de su actor <span id="id_span_actor"></span>? <br>
		        	(Esto eliminará igual todas sus actividades involucradas en este proceso)
		        </p>
		        
		      </div>
		      <div class="modal-footer">
		      	<form method="post">
		      		{% csrf_token %}
		      		<input type="hidden" id="id_responsable_delete" name="responsable" />
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-danger" value="Eliminar">
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ./Modal Delete -->

		<div class="row">
	        <div class="col-md-12">
	            <div class="alert alert-success">Agregado</div>
	        </div>
	    </div> 
	    <!-- /. ROW  -->

	    <div class="row">
		    <div class="col-md-12 col-sm-12">
		        <div class="well">
		        	<h1>Proceso: {{ proceso.nombre_proceso }}</h1>
		        	<h4>
		        		Instrucciones: <br> 1. Identifique a las áreas o actores involucrados en el proceso. <br>
		        					   2. Identifique las actividades que realiza cada área o actor durante el proceso y enumerelas en orden cronológico.
		        	</h4>
		            <h5>
		            	Descripción de un proceso: Un proceso es una secuencia de pasos para cumplir un objetivo.
		            </h5>
		        </div>
		    </div>
		</div>
		<!-- /. ROW  -->

	    

		<div class="row" id="js-rowProject">

				<div class="col-md-4 col-sm-4" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                Paso 1: Agregar a los responsables involucrados en el proceso
				            </div>
				            <div class="panel-body">
				            	<form method="post" id="id_form_responsable">
		            				{% csrf_token %}
		            				<input type="hidden" name="proceso" value="{{ proceso.id }}">

		            				<div id="id_responsable_error" class="alert alert-danger"></div>
		            				<div class="form-group">
		            					<input type="text" id="id_responsable" name="responsable" placeholder="Agregar responsable...">
		            				</div>
		            				
		            				<input type="button" id="id_button_responsable" class="btn btn-info" value="Agregar">
		            			</form>
				            </div>
			        
			    	</div>
			    </div>

			    <div class="col-md-8 col-sm-8" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                <h3>Responsables involucrados en el proceso</h3>
				            </div>

				            <div class="panel-body">

				            	<div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Responsable</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody id="id_tbody_responsables" class="TableBody">
                                        	<tr id="id_row_0" class="TableBody-row fila-base">
                                                <td class="TableBoby-data TableBody--no"></td>
                                                <td class="TableBoby-data TableBody--responsable"></td>
                                                <td class="TableBody-data TableBody--buttons">
                                                	<button type="button" id="{{ responsable.id }}" class="btn btn-danger btn-xs delete" data-name="{{ responsable.responsable }}" data-toggle="modal" data-target="#myModalDelete"><i class="fa fa-trash-o"></i></button>
                                                </td>    
                                            </tr>
                                        	{% for responsable in responsables %}
                                            <tr id="id_row_{{ responsable.id }}" class="TableBody-row">
                                                <td class="TableBoby-data TableBody--no">{{ responsable.orden }}</td>
                                                <td class="TableBoby-data TableBody--responsable">{{ responsable.responsable }}</td>
                                                <td class="TableBody-data TableBody--buttons">
                        	                        <button type="button" id="{{ responsable.id }}" class="btn btn-danger btn-xs delete" data-name="{{ responsable.responsable }}" data-toggle="modal" data-target="#myModalDelete"><i class="fa fa-trash-o"></i></button>
                        	                    </td>    
                                            </tr>                              
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
				            </div>
			    	</div>
			    </div>
		    
		</div>
		<!-- /. ROW  -->

		<div class="row" id="js-rowProject">

				<div class="col-md-4 col-sm-4" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                Agregar actividad
				            </div>
				            <div class="panel-body">
				            	<form method="post" id="formularioActividad-js">
		            				{% csrf_token %}
		            				<input type="hidden" name="proceso" value="{{ proceso.id }}">
		            				<input type="hidden" id="id_orden" name="orden" value="{{ orden_max }}">

		            				<div id="id_nombre_actividad_error" class="alert alert-danger"></div>
		            				<div class="form-group">
		            					<input type="text" id="id_nombre_actividad" name="nombre_actividad" placeholder="Nombre de la actividad">
		            				</div>

		            				<div id="id_tipo_actividad_error" class="alert alert-danger"></div>
		            				<div class="form-group">
		            					<label>Tipo de actividad: </label>
		            					<select name="tipo_actividad" id="id_tipo_actividad" class="form-control">
		            						<option value="">---------</option>
			            					<option value="E">Entrada</option>
			            					<option value="P">Proceso</option>
			            					<option value="D">Decisión</option>
			            					<option value="S">Salida</option>
			            				</select>
		            				</div>

		            				<div id="id_select_responsable_error" class="alert alert-danger"></div>
		            				<div class="form-group">
		            					<label>Responsable: </label>
		            					<select name="responsable" id="id_select_responsable" class="form-control">
		            						<option value="">---------</option>
		            						{% for responsable in responsables  %}
		            							<option value="{{ responsable.id }}">{{ responsable.responsable }}</option>
		            						{% endfor %}
			            				</select>
		            				</div>
		            				
		            				<input type="button" id="agregarButton-js" class="btn btn-info" value="Agregar">
		            			</form>

				            	
				                <!-- <div><span id="id_orden-js">1</span> <span id="id_nombre_actividad-js">Registro del alumno</span></div>
				                <div><span id="id_orden-js">2</span> <span id="id_nombre_actividad-js">Autorización de SE</span></div> -->
				            </div>
			        
			    	</div>
			    </div>

			    <div class="col-md-8 col-sm-8" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                <h3>Lista de actividades</h3>
				            </div>

				            <div class="panel-body">

				            	<div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="TableActividad">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Actividad</th>
                                                <th>Responsable</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody id="id_tbody_actividades" class="TableActividad-body">
                                        	<tr class="TableActividad-row fila-base">
                                                <td class="TableActividad-data TableActividad--orden"></td>
                                                <td class="TableActividad-data TableActividad--actividad"></td>
                                                <td class="TableActividad-data TableActividad--responsable"></td>
                                                <td class="TableActividad-data TableActividad--tipoActividad"></td>    
                                            </tr>
                                        	{% for actividad in actividades %}
                                            <tr class="TableActividad-row">
                                                <td class="TableActividad-data TableActividad--orden">{{ actividad.orden }}</td>
                                                <td class="TableActividad-data TableActividad--actividad">{{ actividad.nombre_actividad }}</td>
                                                <td class="TableActividad-data TableActividad--responsable">{{ actividad.responsable }}</td>
                                                <td class="TableActividad-data TableActividad--tipoActividad">{{ actividad.tipo_actividad }}</td>    
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
				                <!-- <div><span id="id_orden-js">1</span> <span id="id_nombre_actividad-js">Registro del alumno</span></div>
				                <div><span id="id_orden-js">2</span> <span id="id_nombre_actividad-js">Autorización de SE</span></div> -->
				            </div>
				            <div class="panel-footer">
				                Descripción: {{ proceso.descripcion_proceso }}
				            </div>
			            
			            
			        
			    	</div>
			    </div>
		    
		</div>
		<!-- /. ROW  -->
	</div>
	<!-- /. PAGE INNER  -->

{% endblock page_wrapper %}

{% block js_scripts %}
	<script src="{% static "documentation_app/js/jquery.form.min.js" %}"></script>
{% endblock js_scripts %}

{% block custom_scripts %}
	<script src="{% static "documentation_app/js/utils.js" %}"></script>
	<!-- <script src="{% static "proyectos/js/proyecto-list-scripts.js" %}"></script>-->
	<script>
	/********************************************************************
	*	Declaración de elementos del DOM								*
	*********************************************************************/
	var $fila = $('#id_tbody_responsables tr:first-child');
	var $fila_actividad = $('#id_tbody_actividades tr:first-child');
	var $option = $('#id_select_responsable option:first-child');

	

	enumerarTabla('id_tbody_responsables');

	$('#id_responsable').focus();
	$('.alert-success').hide();
	$('.alert-danger').hide();

	$('#agregarButton-js').click(function () {
		$.ajax({
			url: '/procesos/',
			type: 'POST',
			dataType: 'json',
			data: $('#formularioActividad-js').serialize(),
			error: function (xhr, status, error) {
				console.log(xhr.responseJSON);
				console.log(error);

				if (typeof(xhr.responseJSON.nombre_actividad[0]) != "undefined")
				{
					$('#id_nombre_actividad_error').text(xhr.responseJSON.nombre_actividad[0]).slideDown();
					$('#id_nombre_actividad').focus();
				}
				else
				{
					alert("No existe error en nombre_actividad");
					$('#id_nombre_actividad_error').slideToggle();
				}

				if (typeof(xhr.responseJSON.tipo_actividad[0]) != "undefined")
				{
					$('#id_tipo_actividad_error').text(xhr.responseJSON.tipo_actividad[0]).slideDown();
					$('#id_tipo_actividad').focus();
				}
				else
				{
					$('#id_tipo_actividad_error').slideToggle();
				}

				if (typeof(xhr.responseJSON.responsable[0]) != "undefined")
				{
					$('#id_select_responsable_error').text(xhr.responseJSON.responsable[0]).slideDown();
					$('#id_select_responsable').focus();
				}
				else
				{
					$('#id_select_responsable_error').slideToggle();
				}
				
				
			}

		})
		.done(function (data) {
			console.log(data);
			var $clone = $fila_actividad.clone(true);
			var responsable = $('#id_select_responsable option:selected').text();
			var tipo_actividad = $('#id_tipo_actividad option:selected').text();
			var orden_max = parseInt($('#id_orden').val()) + 1;
			$('#id_orden').val(orden_max);

			$clone.find('.TableActividad--orden').text(data.orden);
			$clone.find('.TableActividad--actividad').text(data.nombre_actividad);
			$clone.find('.TableActividad--responsable').text(responsable);
			$clone.find('.TableActividad--tipoActividad').text(data.tipo_actividad);
			//$clone.attr('id', 'id_row_' + id);
			$clone.removeClass('fila-base');
			$clone.appendTo('#id_tbody_actividades');
			$clone.fadeIn();

			$('.alert-success').text('Actividad agregada').slideToggle();
			$('.alert-danger').slideUp();
			$('#id_nombre_actividad').val('').focus();
			$('#id_tipo_actividad option:eq(0)').prop('selected', true);
			$('#id_select_responsable option:eq(0)').prop('selected', true);
			setTimeout(mostrarOcultarAlertSuccess, 3000);
		});
	});

	$('#id_button_responsable').click(function () {
		console.log($('#id_form_responsable').serialize());
		ajaxCreateObject('/api/responsables/', $('#id_form_responsable').serialize(), createResponsable);
	});

	$('#id_responsable').keypress(function (e) {
		if (e.which == 13)
		{
			e.preventDefault();
		}
	});

	$('.delete').click(function () {
		var id = $(this).attr('id');
        var name = $(this).data('name');

        $('#id_responsable_delete').val(id);
        $('#id_span_actor').text(name);
	});

	/********************************************************************
	*	Funciones usadas dentro de los eventos							*
	*********************************************************************/
	function mostrarOcultarAlertSuccess()
	{
		$('.alert-success').slideToggle();
	}

	function ocultarAlertDanger()
	{
		$('.alert-danger').slideUp();
	}

	function agregarOption(value, text)
	{
		var $clone = $option.clone(true);

		$clone.val(value);
		$clone.text(text);

		$clone.appendTo('#id_select_responsable');
		$clone.fadeIn();
	}

	/********************************************************************
	*	Callbacks														*
	*********************************************************************/
	function createResponsable(error, data)
	{
		if (error)
		{
			console.log(error);

			if (error.status == 400)
			{
				
				console.log(error.responseJSON.responsable[0]);
				var responsable_error = error.responseJSON.responsable[0];

				$('#id_responsable_error').text(responsable_error).slideDown();
				$('#id_responsable').focus();
			}
			
		}
		else
		{
			console.log(data);

			var $clone = $fila.clone(true);
			var id = data.id;
			var id_proceso = data.proceso;
			var responsable = data.responsable;
			var no_filas = getNoFilasTabla('id_tbody_responsables');

			$clone.find('.TableBody--no').text(no_filas);
			$clone.find('.TableBody--responsable').text(responsable);
			$clone.find('.TableBody--buttons .delete').attr('data-name', responsable).attr('id', id);
			$clone.attr('id', 'id_row_' + id);

			$clone.removeClass('fila-base');
			$clone.appendTo('#id_tbody_responsables');
			$clone.fadeIn();
			agregarOption(id, responsable);
			ocultarAlertDanger();
			$('#id_responsable').val('').focus();
		}
	}
	
	</script>
{% endblock custom_scripts %}