{% extends 'procesos/base.html' %}
{% load staticfiles %}

{% block elements_navbar %}
    <a href="/procesos/{{ proyecto.slug }}/add/" class="btn btn-success btn-crear-proyecto">Agregar Proceso</a>
{% endblock elements_navbar %}

{% block page_wrapper %}

	<div id="page-inner">

		<!-- Modal -->
		<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar Proyecto</h4>
		      </div>
		      <div class="modal-body">
		        <p>Desea eliminar todo el contenido del proceso <span id="id_span_proceso"></span>?</p>
		      </div>
		      <div class="modal-footer">
		      	<form method="post" id="js-frmEliminar">
		      		{% csrf_token %}
		      		<input type="hidden" id="id_proceso" name="proceso" />
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-danger">Eliminar</button>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ./Modal -->

		<div class="row">
	        <div class="col-md-12">
	            <h1 class="page-header">
	                Procesos - {{ proyecto }} <small>(Lista de procesos)</small>
	            </h1>
	        </div>
	    </div> 
	    <!-- /. ROW  -->

	    

		<div class="row flexible-content" id="js-rowProject">
			{% for proceso in object_list %}
				<!-- COLUMN PANEL -->
			    <div class="col-md-4 col-sm-4" id="div{{ proceso.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                {{ proceso.nombre_proceso }}
				            </div>
				            <div class="panel-body">
				                <p>{{ proceso.descripcion_proceso }}</p>
				            </div>
				            <div class="panel-footer">
				                Opciones
				            </div>
			            
			            <div class="panel-body">
				            <div class="flexible-actions">

				            	<a href="/procesos/actividades/{{ proceso.id }}/" class="btn btn-info flexible-item"><i class="fa fa-book "></i> Actividades</a>
				            	
				            		
		            			<a href="/procesos/{{ proyecto.slug }}/{{ proceso.id }}" class="btn btn-primary flexible-item"><i class="fa fa-edit "></i> Editar</a>
		            			
		            		
		            		
		            		
		            			<!-- Button delete trigger modal -->
								<button id="{{ proceso.id }}" type="button" class="btn btn-danger delete flexible-item" data-toggle="modal" data-target="#myModalDelete" data-id="{{ proceso.id }}" data-name="{{ proceso.nombre_proceso }}"><i class="fa fa-pencil"></i>
								  Eliminar
								</button>

								
				            			
				            			
				            		
				            	
				            
				        	</div>
			        	</div>
			        
			    	</div>
			    </div>
			    <!-- /. COLUMN PANEL -->

		    {% empty %}
				<div class="col-md-12 col-sm-12">
			        <div class="alert alert-warning">
			            No tienes procesos aún
			        </div>
			    </div>
		    {% endfor %}
		    
		</div>
		<!-- /. ROW  -->
	</div>
	<!-- /. PAGE INNER  -->

{% endblock page_wrapper %}

{% block js_scripts %}
	<script src="{% static "documentation_app/js/jquery.form.min.js" %}"></script>
{% endblock js_scripts %}

{% block custom_scripts %}
	<script src="{% static "documentation_app/js/utils.js" %}"></script>
	<script>
		$('.delete').click(function () {
			var id = $(this).data('id');
			var name = $(this).data('name');

			
			$('#id_proceso').val(id);
			$('#id_span_proceso').text(name);
		});

		deleteElement('js-rowProject', 'js-frmEliminar', 'myModalDelete');
	</script>
{% endblock custom_scripts %}