{% extends 'documentacion/base.html' %}
{% load static %}

{% block elements_navbar %}
    <a href="/documentacion/{{ proyecto.slug }}/add/" class="btn btn-success btn-crear-proyecto">Crear Módulo</a>
{% endblock elements_navbar %}

{% block page_wrapper %}

	<div id="page-inner">

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar Proyecto</h4>
		      </div>
		      <div class="modal-body">
		        <p>Desea eliminar todo el contenido de su módulo <span id="js-spanNameProject"></span>?</p>
		      </div>
		      <div class="modal-footer">
		      	<form method="post" id="js-frmEliminar">
		      		{% csrf_token %}
		      		<input type="hidden" id="modal_id_proyecto" name="proyecto_id" />
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-danger">Eliminar</button>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- ./Modal -->

		<div class="row">
	        <div class="col-md-12">
	            <h1 class="page-header">
	                Mis Módulos - {{ proyecto.nombre_proyecto }} <small>(Lista de módulos)</small>
	            </h1>
	        </div>
	    </div> 
	    <!-- /. ROW  -->

		<div class="row" id="js-rowProject">
			{% for modulo in object_list %}
			    <div class="col-md-4 col-sm-4" id="div{{ modulo.id }}">
			    	
			        <div class="panel panel-info">
			        	
				            <div class="panel-heading">
				                {{ modulo.nombre_modulo }}
				            </div>
				            <div class="panel-body">
				                <p>{{ modulo.descripcion_modulo }}</p>
				            </div>
				            <div class="panel-footer">
				                Opciones
				            </div>
			            
			            <div class="panel-body">
				            <div class="flexible-actions">
				            	<a href="/documentacion/paquetes/{{ proyecto.slug }}/{{ modulo.id }}/" class="btn btn-info flexible-item"><i class="fa fa-book "></i> Paquetes</a>

				            	<a href="/documentacion/submodulos/{{ proyecto.slug }}/{{ modulo.id }}/" class="btn btn-warning flexible-item"><i class="fa fa-level-down "></i> Submódulos</a>
				            		
		            			<a href="/documentacion/{{ proyecto.slug }}/{{ modulo.id }}/" class="btn btn-primary flexible-item"><i class="fa fa-edit "></i> Editar</a>
		            			
		            		
		            		
		            		
		            			<!-- Button delete trigger modal -->
								<button id="{{ modulo.id }}" type="button" class="btn btn-danger delete flexible-item" data-toggle="modal" data-target="#myModal" data-name="{{ modulo.nombre_modulo }}"><i class="fa fa-trash-o"></i>
								  Eliminar
								</button>
				            			
				            	
		            			
				            			
				            		
				            	
				            
				        	</div>
			        	</div>
			        
			    	</div>
			    </div>

		    {% empty %}
				<div class="col-md-12 col-sm-12">
			        <div class="alert alert-warning">
			            No tienes modulos aún
			        </div>
			    </div>
		    {% endfor %}
		    
		</div>
		<!-- /. ROW  -->
	</div>
	<!-- /. PAGE INNER  -->

{% endblock page_wrapper %}

{% block js_scripts %}
	<script src="{% static "documentation_app/js/jquery.form.min.js" %}"></script>
{% endblock js_scripts %}

{% block custom_scripts %}
	<script src="{% static "proyectos/js/proyecto-list-scripts.js" %}"></script>
{% endblock custom_scripts %}